/*登录*/
* { margin: 0; 
	padding: 0; 
}
.pc_container{
	width: 100%;
	z-index: 25;
	position: absolute;
}

.zhezhao{
	/* width: 100vw;
	height: 100vh; */
	/* background: url(../img/loginBackground.png) cover; */
	position: fixed;
	top:0;
	left: 0;
	background: black;
	/* opacity: 0.3; */
	z-index: 20;
	color: red;
	display: none;
}
.login_background{
	width: 100vw;
	height: 100vh;
}

.pc_login_pop{
    width: 300px;
    height: 310px;
    background: #fff;
    border-radius: 10px;
    margin: 240px auto;
    position: relative;
    z-index: 20;
}
.loginOutBt{
	margin-left: 92%;
    margin-top: 5px;
}

.pc_minicode_login{
	display: block;
	padding: 10px 0;
	text-align: center;
	margin:auto auto;
	display: block;
}
.pc_minicode_login img{
	margin:20px auto 10px;
}
/*二维码*/
#qrcode{
	text-align: center;
}
canvas{
	margin:0 auto;
}

/*手机号登录样式*/
.pc_phone_login{
	text-align: center;
	display: none;
}
input.pc_input_code{
	width: 40%!important;
	margin:15px 0 0!important;
	color:#000;
}
.pc_phone_login .pc_input{
	width:75%;
	height: 40px;
	background: #f5f5f5;
	margin:0 auto;
	background:#858585;
	color: #fff;
	font-size: 16px;
	opacity: 0.39;
	border-radius: 5px;
	padding-left:10px;
	margin:25px 0 0;
}
input::-webkit-input-placeholder{
	color: #fff;
	font-size: 16px;
}

.pc_red{
	color: #F03D37;
	font-size: 12px;
	display: block;
	width: 100%;
	text-align: left;
	margin-left:10%;
	margin-top:5px;
}
.pc_getcode{
	height: 41px;
	border-radius: 5px;
	color: #fff;
	outline: none;
	border:2px solid transparent;
	background: #858585;
	opacity: 0.39;
	/* padding: 10px; */
}

.pc_login{
	width: 80%;
	height: 40px;
	border-radius: 5px;
	color: #fff;
	outline: none;
	background:red;
	border:1px solid transparent;
	margin:25px 0 10px;
}
.pc_scan{
	color: #3A9BF5;
	font-size: 12px;
	display: block;
	width: 100%;
	text-align: left;
	/* margin-left:10%; */
}
/* .pc_input{
	margin-left: 20px;
} */