*{
	padding: 0;
	margin: 0;
}
.Content{
	height: 969px;
	width: 100%;
	/* background-color: green; */
}
.left_bar{
	background-color: #021528;
	width: 64px;
	height: 100%;
	float: left;
}
.left_logo{
	position: absolute;
	left: 16px;
	top: 24px;
}
.shouye{
	position: absolute;
	left: 24px;
	top: 104px;
	cursor: pointer;
}
.dingdan{
	position: absolute;
	left: 24px;
	top: 154px;
	cursor: pointer;
}
.sendbill{
	position: absolute;
	left: 24px;
	top: 200px;
	cursor: pointer;
}
.dingdanguanli{
	position: absolute;
	left: 24px;
	top: 250px;
	cursor: pointer;
}

.zhuti{
	width: 1837px;
	height: 100%;	
	float: left;
	/* background-color: blue */
}
.shouye_top{
	width: 1837px;
	height: 64px;
	float: left;

}
.shouyr_zhuti{
	width:1837px;
    height:903px;
	background:rgba(240,242,245,1);
	border: 1px solid white;
	position: relative;
	float: left;
}
.erweima{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto; 
}
.word{
	width:180px;
    height:25px;
    font-size:18px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(131,132,134,1);
    line-height:25px;
}
.word1{
	margin: 0 auto;
	margin-top: 620px;
}
.word2{
	margin: 0 auto;
}
.shouyetouxiang,.nicheng,.xiangxiazhankai{
	float: left;
	margin: 10px;
}
.shouyetouxiang{
	margin-left: 1595px;
	margin-top: 18px;
	border-radius: 15px;
}
.xiangxiazhankai{
	width: 0px;
	height: 0px;
	border-width: 5px;
	border-style: solid;
	border-color: #333333 transparent transparent transparent;
	margin-top: 30px;
}
.nicheng{
	margin-top: 24px;
}
.shouye_xuanfu{
	position: absolute;
    top: 64px;
	left: 62px;
	margin: 0;
}
.show{
	width:159px;
    height:40px;
    background:rgba(2,21,40,1);
	border-radius:2px;
	margin: 6px 4px;
	line-height: 40px;
	font-size:14px;
    font-family:PingFangSC-Light;
    font-weight:300;
	color:rgba(166,173,179,1);
	display: none;
}
.shouye_show{
	margin-top: 30px;
	position: relative;
	top: 0px;
	left: 0px;
} 
.dingdan_show{
	margin-top: 30px;
	position: relative;
	top: 46px;
	left: 0px;
}
.dingdanguanli_show{
	margin-top: 30px;
	position: relative;
	top: 140px;
	left: 0px;
}
.chuangjiandingdan_show{
	margin-top: 30px;
	position: relative;
	top: 92px;
	left: 0px;
}
.login_out{
	width:107px;
    height:36px;
    background:rgba(255,255,255,1);
    box-shadow:0px 2px 2px 0px rgba(0,0,0,0.15);
    border-radius:4px;
	float: left;
	position: absolute;
	top: 73px;
	left: 1706px;
	display: none;
	cursor: pointer;
}

.pic_login_out{
	display: inline;
	float: left;
	margin-top: 12px;
    margin-left: 12px;
}
#login_out{
	width:104px;
    height:36px;
    font-size:13px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(121,123,131,1);
	line-height:18px;
	line-height: 36px;
	margin-left: 10px;
	text-align: center;
}
#sanjiao{
	width: 0px;
	height: 0px;
    border-width: 8px;
    border-style: solid;
	border-color: transparent transparent  #FFFFFF transparent;
	margin-top: 30px;
	position: relative;
	top: -82px;
    left: 78px;
}