* { margin: 0; 
	padding: 0; 
}
.Content{
    height: 914px; 
}
.shouyr_zhuti{
    width: 100%;
    height: 912px;
}
.left_bar{
    height: 978px;
}
.bill_manage{
    width: calc(100% - 72px);
    height: 100%;
    background: rgba(255,255,255,1);
    margin-top: 23px;
    margin-left: 36px;
    border: 1px solid transparent;
}
.keyWord{
    width: 68px;
    height: 24px;
    font-size: 17px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(51,51,51,1);
    line-height: 24px;
    margin-left: 48px;
    margin-top: 40px;
}
.search{
    width: 230px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid rgba(151,151,151,0.4);
    position: absolute;
    top: 62px;
    left: 166px;
}
.search_button{
    width: 70px;
    height: 30px;
    background: rgba(24,144,255,1);
    border-radius: 4px;
    line-height: 30px;
    position: absolute;
    top: 63px;
    left: 415px;
}
.table_style{
    margin-top: 35px;
    margin-left: 30px;
    width: calc(100% - 72px);
}
.table_style tr{
    height: 58px;
    border-bottom: 1px solid  rgba(151,151,151,0.1);
    background: #FAFAFA;
	font-size:16px;
	font-family:PingFangSC-Semibold;
    color:rgba(51,51,51,1);
}

.table_style th,.table_style td{
    border-style: none;
    width: 283px;
    text-align: center;
    font-size:16px;
font-family:PingFangSC-Regular;
}
.table_style th{
    font-family: Microsoft YaHei;
    font-size:18px;
    font-weight: 900;
color:rgba(89,89,89,1);
}
.table_style td{
    background: white;
    color:rgba(89,89,89,1)
}

.zhuti3{
    width: 100%;
}

.paging {
    width: 20%;
    height: 90px;
    margin-top: -80px;
    margin-left: 78%;
}

/* 没选中的按钮样式 */
.page_unselect_word{
    font-size:14px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(213,213,213,1);
    line-height:30px;
    text-align: center;
}
.page_unselect{
    width:30px;
height:30px;   
border-radius:4px;
border:1px solid rgba(151,151,151,0.4);
float: left;
position: relative;
margin: 5px;
}
/* 选中的按钮样式 */
.page_select_word{
    font-size:14px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(24,144,255,1);
    line-height:30px;
    text-align: center;
}
.page_select{
    width:30px;
height:30px;   
border-radius:4px;
border:1px solid rgba(24,144,255,1);
float: left;
position: relative;
margin: 5px;
}
.page img{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

/* 小三角从少到多 */
.sanjiao1,.sanjiao3{
    width: 0;
    height: 0;
    border-width: 6px;
    border-style: solid;
}

/* 上面的三角 */
.white1{
    border-color:transparent transparent rgba(191, 191, 191, 1) transparent;
}
.green1{
    border-color:transparent transparent rgba(24, 144, 254, 1)  transparent;
}      

/* 小三角从少到多 */
.sanjiao2,.sanjiao4{
    width: 0;
    height: 0;
    border-width: 6px;
    border-style: solid;
    margin-top: 5px;
}
/* 下面的三角 */
.white2{
    border-color: rgba(191, 191, 191, 1) transparent transparent  transparent;
}
.green2{
    border-color: rgba(24, 144, 254, 1) transparent transparent  transparent;
}
.first_couple{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 15%;
    left: 60%;
}
.second_couple{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 15%;
    left: 75.5%;
}